body, section.header, section.footer, section {
    margin: auto;
    width: 768px;
}

pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

@media only screen and (max-width: 768px) {

    /* For mobile phones: */
    body, section.header, section.footer, section {
        width: 100%;
    }
}

div.container {
    position: relative;
    min-height: 100vh;
}

body {
    background: #333;
    color: gray;
    min-height: 100vh;
    font-family: 'Roboto Mono', monospace;
}

body.day {
    background: #e4e4e4;
}

body.night {
    background: #333;
}

section.header {
    height: 50px;
    position: fixed;
    z-index: 100;
}

section.footer {
    height: 50px;
    line-height: 50px;
    bottom: 0;
    position: fixed;
    z-index: 100;
}

.night section.header,
.night section.footer {
    background: #3e3e3e;
}

.header-item {
    margin: 10px;
}

.day section.header,
.day section.footer {
    background: #d8d8d8;
}

.footer-content {
    margin: 10px;
}

.header-content {
    margin-left: 15px;
}

.footer-item, .header-item {
    height: 30px;
    width: 30px;
    display: inline-block;
    cursor: pointer;
}

.setting-icon {
    background: url('./icons/settings.svg');
    height: 100%;
    width: 100%;
}

.chapter-list-icon {
    background: url('./icons/chapter-list.svg');
    height: 100%;
    width: 100%;
}

.night .mode-icon {
    background: url('./icons/day.svg');
    background-size: contain;
    height: 100%;
    width: 100%;
}


.day .mode-icon {
    background: url('./icons/night.svg');
    background-size: contain;
    height: 100%;
    width: 100%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clearfix {
    clear: both;
}

.book-name {
    line-height: 50px;
    font-size: 20px;
    margin-top: -15px;
}

section.body {
    padding-top: 50px;
    padding-bottom: 70px;
    font-size: 20px;
    line-height: 2;
}

.chapter_content {
    padding: 10px;
}

section.setting-panel {
    position: fixed;
    bottom: 50px;
    height: 200px;
    background: #cecece;
}

section.chapter-list {
    position: absolute;
    top: 50px;
    width: 100%;
    padding-bottom: 50px;
}

.day section.chapter-list {
    background: #dedede;
}

.night section.chapter-list {
    background: #4b4b4b;
}


.day .chapter {
    border-bottom: 1px solid #cecdcd;
}

.night .chapter {
    border-bottom: 1px solid #5c5c5c;
}

.chapter {
    height: 50px;
    line-height: 50px;
    color: gray;
    padding-left: 25px;
}

.chapter a {
    color: gray;
    text-decoration: none;
}

.chapter.active {
    background: #a6a6a6;
}

.chapter.active a {
    color: #f2ebeb;
}
