body, section.ads-block, section.header, section.footer, section, section.chapter-list {
    margin: auto;
    width: 768px;
}

pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

@media only screen and (max-width: 768px) {

    /* For mobile phones: */
    body, section.ads-block, section.header, section.footer, section, section.chapter-list {
        width: 100%;
    }
}

div.container {
    position: relative;
    min-height: 100vh;
}

body {
    background: #333;
    color: gray;
    min-height: 100vh;
    font-family: 'Roboto Mono', monospace;
}

body.day {
    background: #e4e4e4;
}

body.night {
    background: #333;
}

section.header {
    height: 50px;
    position: fixed;
    z-index: 100;
}

section.footer {
    height: 50px;
    line-height: 50px;
    bottom: 0;
    position: fixed;
    z-index: 100;
}

.night section.header,
.night section.footer {
    background: #3e3e3e;
}

.header-item {
    margin: 10px;
}

.day section.header,
.day section.footer {
    background: #d8d8d8;
}

.footer-content {
    margin: 10px;
    text-align: center;
}

.header-content {
    margin-left: 15px;
}

.footer-item, .header-item {
    height: 30px;
    width: 30px;
    display: inline-block;
    cursor: pointer;
}

.next-icon {
    background: url('./icons/next.png');
    height: 100%;
    width: 100%;
    background-size: contain;
}

.prev-icon {
    background: url('./icons/previous.png');
    height: 100%;
    width: 100%;
    background-size: contain;
}

.setting-icon {
    background: url('./icons/settings.svg');
    height: 100%;
    width: 100%;
}

.chapter-list-icon {
    background: url('./icons/chapter-list.svg');
    height: 100%;
    width: 100%;
}

.night .mode-icon {
    background: url('./icons/day.svg');
    background-size: contain;
    height: 100%;
    width: 100%;
}


.day .mode-icon {
    background: url('./icons/night.svg');
    background-size: contain;
    height: 100%;
    width: 100%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clearfix {
    clear: both;
}

.book-name {
    line-height: 50px;
    font-size: 20px;
    margin-top: -15px;
    white-space: nowrap;
}

section.body {
    padding-top: 50px;
    padding-bottom: 70px;
    font-size: 20px;
    line-height: 2;
}

.chapter_content {
    padding: 10px;
}

section.chapter-list {
    position: fixed;
    top: 50px;
    bottom: 50px;
    overflow: auto;
}

.day section.chapter-list {
    background: #dedede;
}

.night section.chapter-list {
    background: #4b4b4b;
}


.day .chapter {
    border-bottom: 1px solid #cecdcd;
}

.night .chapter {
    border-bottom: 1px solid #5c5c5c;
}

.chapter {
    height: 50px;
    line-height: 50px;
    color: gray;
    padding-left: 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chapter a {
    color: gray;
    text-decoration: none;
}

.chapter.active {
    background: #a6a6a6;
}

.chapter.active a {
    color: #f2ebeb;
}

.book-detail {
    border: 1px solid gray;
    padding: 10px;
    border-radius: 5px;
    background: #222222;
    margin-bottom: 15px;
}

.thumbnail {
    width: 30%;
    float: left;
}

.thumbnail img {
    width: 100%;
    border-radius: 5px;
}

.book-list {
    display: block;
    min-height: 100vh;
    margin: 10px;
}

.detail.right {
    width: 65%;
    padding-left: 10px;
    font-size: 15px;
}

.book-info-name a {
    color: #d7d7d7;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
}

span.last-section a {
    font-size: 12px;
    color: #c7c7c7;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
}

.update-time {
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.tag {
    background: #607D8B;
    display: inline-block;
    padding: 0 10px;
    border-radius: 5px;
    color: #d5d4d4;
    margin-bottom: 5px;
    margin-right: 5px;
    font-size: 12px;
}

div.label {
    background: #795548;
    display: inline-block;
    padding: 0 10px;
    border-radius: 5px;
    color: #d5d4d4;
    margin-bottom: 5px;
    margin-right: 5px;
    font-size: 12px;
}

.book-info {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
}

div.score {
    background: #007eff;
}

.book-search {
    margin: 10px;
}

input.input-search {
    height: 30px;
    width: 100%;
    width: -webkit-fill-available;
    background: #222222;
    border: 1px solid gray;
    border-radius: 16px;
    padding-left: 15px;
    outline: none;
    color: #bdbdbd;
}

body.show-ads {
    overflow: hidden;
}

section.ads-block {
    bottom: 0;
    min-height: 100vh;
    background: #000000ab;
    height: 50px;
    position: fixed;
    z-index: 101;
}

button.close-ads {
    margin-top: 50px;
    padding: 5px 20px;
    border: 1px solid hsla(11, 80%, 45%, 1);
    border-radius: 3px;
    background: hsla(11, 100%, 62.2%, 1);
    color: #0c0c0c;
}

.setting-item.text-center {
    text-align: center;
}

.ads-block .setting-content {
    padding: 13px;
    position: absolute;
    bottom: 0;
    background: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.ads-banner div {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #565656;
    margin-top: 15px;
    color: white;
}